@page
@model sho.rt.Areas.Backend.Pages.CustomMapping.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomMapping</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMapping.ShortenedUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMapping.ShortenedUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMapping.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMapping.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMapping.Original)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMapping.Original)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CustomMapping.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
