@page
@model sho.rt.Areas.Backend.Pages.CustomMapping.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomMapping</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMapping.ShortenedUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMapping.ShortenedUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMapping.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMapping.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMapping.OriginalUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomMapping.OriginalUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomMapping.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
